html {
    margin:0;
    padding:0;
    display: grid;
}
#topOfScreen{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    margin-left: 1em;
}
/* These are all stylings to do with the navigation of the website */
nav {
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:  0.33fr 0.33fr 0.33fr;
    grid-gap: 10px;
}
#indexPaw {
    display: grid;
    grid-row: 2 / 3;
    margin: auto;
    padding: 0;
}
#aboutPaw {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: auto;
    padding: 0;
}
#servicePaw {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin: auto;
    padding: 0;
}
#galleryPaw {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    margin: auto;
    padding: 0;
}
#contactPaw {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    margin: auto;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 1fr;
}
/* These are stylings to do with the index page only */
#indexMain {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
}
#indexText1 {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding: 0;
    margin-top: 1em;
}
#indexText2{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#indexText3 {
    display: grid;
    grid-column: 1 / 2;
}
#indexImage {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    margin: auto;
    margin-bottom: 1em;
}
/* These are stylings to do with the about page only */
#aboutMain {
    display: grid;
    grid-template-rows: 33% auto 33%;
    grid-template-columns: 50% 50%;
}
#aboutText1 {
    display: grid;
    grid-column: 1 / 3;
    margin-top: 1em;
    margin-bottom: 0;
    margin-right: auto;
}
#aboutText2 {
    display: grid;
    grid-template-rows: 1;
    grid-column: 1 / 2;
    margin-bottom: 1em;
}
#aboutText3 {
    display: grid; 
    grid-column: 2 / 3;
    margin-bottom: 1em;
}
/* These are stylings to do with the team page only */
#teamMain {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 70%;
}
#teamText {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
#loriText {
    display: grid;
    grid-column: 1 / 2;
}
#garyText {
    display: grid;
    grid-column: 2 / 3;
}
#rebeccaText {
    display: grid;
    grid-column: 3 / 4;
}
#joannaText {
    display: grid;
    grid-column: 4 / 5;
    margin-bottom: 2em;
}
/* These are stylings to do with the services page only */
#serviceMain {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 90%;
    margin-bottom: 2em;
}
#serviceText {
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
#serviceText1 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin: auto;
}
#serviceText2 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin: auto;
}
#serviceText3 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin: auto;
}
/* These are stylings to do with the gallery page only */
#galleryMain {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 10% 22.5% 22.5% 22.5%;
}
#galleryText {
    display: grid;
    grid-column: 1 / 6;
    margin-bottom: 1em;
}
#Img1, #Img2, #Img3, #Img4, #Img5 {
    display: grid;
    grid-row: 2 / 3;
    margin-bottom: 5em;
}
#Img6, #Img7, #Img8, #Img9, #Img10 {
    display: grid;
    grid-row: 3 / 4;
    margin-bottom: 5em;
}
#Img11, #Img12, #Img13, #Img14, #Img15 {
    display: grid;
    grid-row: 4 / 5;
    margin-bottom: 2em;
}
#Img1, #Img2, #Img3, #Img4, #Img5, #Img6, #Img7, #Img8, #Img9, #Img10, #Img11, #Img12, #Img13, #Img14, #Img15 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#Img1:hover {
    opacity: 0.7;
}
#Img2:hover {
    opacity: 0.7;
}
#Img3:hover {
    opacity: 0.7;
}
#Img4:hover {
    opacity: 0.7;
}
#Img5:hover {
    opacity: 0.7;
}
#Img6:hover {
    opacity: 0.7;
}
#Img7:hover {
    opacity: 0.7;
}
#Img8:hover {
    opacity: 0.7;
}
#Img9:hover {
    opacity: 0.7;
}
#Img10:hover {
    opacity: 0.7;
}
#Img11:hover {
    opacity: 0.7;
}
#Img12:hover {
    opacity: 0.7;
}
#Img13:hover {
    opacity: 0.7;
}
#Img14:hover {
    opacity: 0.7;
}
#Img15:hover {
    opacity: 0.7;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
/* These are stylings to do with the content page only */
#contactMain {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-bottom: 5em;
}
#contactText {
    display: grid;
    grid-column: 1 / 3;
}
#contactText1 {
    display: grid;
    grid-column: 1 / 2;
}
#contactText2 {
    display: grid;
    grid-column: 1 / 2;
}
#contactText3 {
    display: grid;
    grid-column: 1 / 2;
}
#contactForm {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    height: 10.188em;
    width: 100%;
    background-color: #caeefa;
    padding: 0;
    margin: 0;
}
/* These are text stylings only */
h1 {
    margin: 0;
    font-family: 'Baloo Chettan 2';
    font-size: 4em; 
    font-style: normal;
    font-weight: bold;
    color: #4A3B33;
    text-align: center;

}
h2 {
    margin: 0;
    margin-left: 1sem;
    margin-right: 1em;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 300;
    color: #4A3B33;
    vertical-align: bottom;
    display: grid;
    grid-column: 1 / 7;
    grid-row: 3 / 4;
    text-align: center;
}
h3 {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 300;
    color: #4A3B33;
}
h4 {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 300;
    color: #4A3B33;
}
h5 {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 300;
    color: #4A3B33;
    text-align: center;
}
p {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    color: #4A3B33;
}
li {
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    color: #4A3B33;
}
#footerTitle{
    margin: 0.8em;
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    color: #4A3B33; 
}
#footerText {
    margin: 1em;
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    font-style: normal;
    font-weight: normal;
    color: #4A3B33;
}
#nav{
    font-family: 'Mukta Mahee', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    color: #4A3B33;
    text-decoration: none;
    vertical-align: top;
    text-align: center;
}
/* These are stylings to do with images only */
img{
    margin: 1em;
    border-radius: 30px;
}
